<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1; user-scalable=0;"/>
    <link rel="stylesheet" href="{{static_url("main.css")}}">
    <link rel="stylesheet" href="{{static_url("msform.css")}}">
  </head>
  <body>
    <div id="first-screen">
       <!-- multistep form -->
       <form id="msform">
        <!-- progressbar -->
        <ul id="progressbar">
          <li class="active">Sign Up</li>
          <li>Contact Info</li>
          <li>Food</li>
          <li>Shirt Size</li>
          <li>Hacker Goals</li>
        </ul>
        <!-- fieldsets -->
        <fieldset>
          <h2 class="fs-title">Sign Up</h2>
          <h3 class="fs-subtitle">What is the best thing about hackathons?</h3>
          <input type="text" name="best" placeholder="Tell us.."/>
          <input type="button" name="next" class="next action-button big-btn" value="Sign Me Up!" />
        </fieldset>
        <fieldset>
          <h2 class="fs-title">Contact Info</h2>
          <h3 class="fs-subtitle">So we can contact you</h3>
          <input type="text" name="name" placeholder="Full Name" />
          <input type="text" name="email" placeholder="Email" />
          <input type="text" name="email_con" placeholder="Confirm Email" />
          <input type="text" name="school" placeholder="School" />
          <input type="text" name="cell_number" placeholder="Cell Number" />
          <input type="button" name="previous" class="previous action-button" value="Previous" />
          <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>
        <fieldset>
          <h2 class="fs-title">Dietary Needs</h2>
          <h3 class="fs-subtitle">Let me know if you have any dietary restrictions </h3>
          <div class="checkboxes">
            <input id="vegetarian" class="checkbox" type="checkbox" name="diet" value="Vegetarian"/>Vegetarian<br>  
            <input id="vegan" class="checkbox" type="checkbox" name="diet" value="Vegan">Vegan<br>  
            <input id="kosher" class="checkbox" type="checkbox" name="diet" value="Kosher">Kosher<br>
            <input id="halal" class="checkbox" type="checkbox" name="diet" value="Halal">Halal<br>
            <input id="lactose" class="checkbox" type="checkbox" name="diet" value="Lactose">Lactose intolerance<br>
          </div>
          <input type="text" name="allergies" placeholder="Any Allergies?" />
          <input type="text" name="snack" placeholder="Favorite Snack" />
          <input type="text" name="drink" placeholder="Favorite Drink" />
          <input type="button" name="previous" class="previous action-button" value="Previous" />
          <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>
        <fieldset>
          <h2 class="fs-title">Unhackathon shirt</h2>
          <h3 class="fs-subtitle">Would you like a Unhackathon shirt? All I need is your size.</h3>
          <select id="shirt_size">
            <option value="Women's XS">Women's XS</option>
            <option value="Women's S">Women's S</option>
            <option value="Women's M">Women's M</option>
            <option value="Women's L">Women's L</option>
            <option value="Unisex S">Unisex S</option>
            <option value="Unisex M">Unisex M</option>
            <option value="Unisex L">Unisex L</option>
            <option value="Unisex XL">Unisex XL</option>
            <option value="Unisex XXL">Unisex XXL</option>
          </select><br>
          <input type="button" name="previous" class="previous action-button" value="Previous" />
          <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>
        <fieldset>
          <h2 class="fs-title">Survey</h2>
          <h3 class="fs-subtitle">Can we contact you with more questions about your goals as a hacker.?</h3>
          <div class="bool-slider true">
              <div class="inset">
                  <div class="control"></div>
              </div>
          </div>
          <div class="checkboxes">
            <input id="survey" class="checkbox" type="checkbox" name="survey" value="survey">Go ahead and ask me now!<br>
          </div>
          
          <input type="button" name="previous" class="previous action-button" value="Previous" />
          <input type="submit" name="submit" class="submit action-button" value="Submit" />
        </fieldset>
       </form>
    </div>
    <section id="about">
      <h1 class="section-header">About</h1>
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
    </section>
    <section id="faq">
      <h1 class="section-header">Faq</h1>
      <div id="questions-container" class="row">
        {% for number in range(10 - users|count) %}
          <div class="question-answer col-md-4 col-sm-6">
            <h3 class="question">Q: What is love?</h3>
            <div class="answer">
              Baby don't hurt me. Don't hurt me, no more. Baby don't hurt me anymore baby<br><br>

              Lorem ipsum doleros as agas asdfsd asdfasd <br><br>

              hello there
            </div>
          </div>
        {% endfor %}
      </div>
    </section>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{{static_url("main.js")}}"></script>
    <script src="{{static_url("msform.js")}}"></script>
  </body>
</html>