{% extends "_base.html" %}
{% block center %}
  <form id="email-form" class="center-form" action="{{url_for('submit')}}" method="POST">
    <input type="hidden" value="{{type}}" name="type">
    <h3>I have ideas</h3>
    <div class="slideThree">
      <input type="checkbox" name="ideas" id="slideThree">
      <label for="slideThree"></label>
    </div>
    <input name="email" class="block-input" type="email" placeholder="joe@example.com">
    <input class="block-input" type="submit">
  </form>
{% endblock %}